<!DOCTYPE html>
<html>
<title>COVID-19 Complaints in Austin</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    .navbar {
        overflow: hidden;
        background-color: #333;
    }

        .navbar a {
            float: left;
            font-size: 16px;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

    .dropdown {
        float: left;
        overflow: hidden;
    }

        .dropdown .dropbtn {
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            padding: 14px 16px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
        }

        .navbar a:hover, .dropdown:hover .dropbtn {
            background-color: red;
        }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

            .dropdown-content a:hover {
                background-color: #ddd;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    marquee {
        font-size: 20px;
        font-weight: 800;
        color: #8ebf42;
        font-family: sans-serif;
    }
</style>
<nav class="w3-bar w3-black">
    <a href="index.html" class="w3-button w3-bar-item">COVID-19 Complaints in Austin</a>

</nav>

<body>


    <div class="navbar">
        <a href="index.html">Home</a>
        <a href="dashboard.html">Dashboard</a>
        <div class="dropdown">
            <button class="dropbtn">
                Complaints
                <i class="fa fa-caret-down"></i>

            </button>

            </section>
            <div class="dropdown-content">
                <a href="#">Register</a>
                <a href="#">Fetch</a>
                <a href="#">Update</a>
                <a href="#">Delete</a>
            </div>
        </div>
        <a href="aboutus.html">About Us</a>
    </div>
    <h3>Austin Code Complaint Page</h3>
    <p>Every day the City of Austin is investigating new complaints related to COVID-19 health and safety guidelines. You can file a citizen complaint about business violations, type of complaint (face covering non-compliance, eviction, social distancing, over occupancy) and when the violations occurred.</p>
    <marquee>Get the latest information from the CDC about COVID-19, please visit cdc.gov</marquee>
    <section>
        <img class="mySlides" src="1.jpg" style="width:100%">
        <img class="mySlides" src="coronavirus_001.jpg" style="width:100%">

        <section class="w3-container w3-center w3-content" style="max-width:600px">
            <h2 class="w3-wide">About COVID-19</h2>
            <p class="w3-opacity"><i>Coronavirus Disease 2019</i></p>
            <p class="w3-justify">Coronavirus disease 2019 (COVID-19) is defined as an illness caused by the novel coronavirus, now known as severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2; formerly called 2019-nCoV). It was first identified amidst an outbreak of respiratory illness cases in Wuhan City, Hubei Province, China. As of the current time, it is currently spread worldwide, contributing to a global pandemic.</p>
        </section>
        <script>// Automatic Slideshow - change image every 3 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 3000);
}</script>



</body>
</html>
