<!DOCTYPE html>
<html>
<title>COVID-19 Complaints in Austin</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    .navbar {
        overflow: hidden;
        background-color: #333;
    }

        .navbar a {
            float: left;
            font-size: 16px;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

    .dropdown {
        float: left;
        overflow: hidden;
    }

        .dropdown .dropbtn {
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            padding: 14px 16px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
        }

        .navbar a:hover, .dropdown:hover .dropbtn {
            background-color: red;
        }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

            .dropdown-content a:hover {
                background-color: #ddd;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>
<nav class="w3-bar w3-black">
    <a href="index.html" class="w3-button w3-bar-item">COVID-19 Complaints in Austin</a>

</nav>
<body>


    <div class="navbar">
        <a href="index.html">Home</a>
        <a href="dashboard.html">Dashboard</a>
        <div class="dropdown">
            <button class="dropbtn">
                Complaints
                <i class="fa fa-caret-down"></i>

            </button>

            </section>
            <div class="dropdown-content">
                <a href="#">Register</a>
                <a href="#">Fetch</a>
                <a href="#">Update</a>
                <a href="#">Delete</a>
            </div>
        </div>
        <a href="#home">About Us</a>
    </div>
    <div class="divclass">
        <div class="line">
            <h4>Akanksha Chavan</h4>
            <img class="aboutimage" src="AC.png" /> <!-- INSERT IMAGE -->
            <p class="para">
                I'm Akanksha Chavan, currently pursuing a MS in Business Analytics and Information Systems. Coming from a healthcare background into Data Science/Analytics stream, I am enjoying learning all the new different types of programming and technical skills, needed to succeed in this domain. My contribution has been with the web page design and html code.
            </p>
            <hr />
        </div>
        <div class="line">
            <h4>Bryce Jones</h4>
            <img class="aboutimage" src="BJ.png" /><!-- INSERT IMAGE -->
            <p class="para">
                Bryce Jones is a student in the Master of Science in Business Analytics and Information Systems program at University of South Florida. Bryce contributed to this assignment by locating the data source and aided in creating the database model.
            </p>
            <hr />
        </div>
        <div class="line">
            <h4>Venkatesh Musku</h4>
            <img class="aboutimage" src="VM.jpg" /><!-- INSERT IMAGE -->
            <p class="para">
                Venkatesh Musku is a current graduate student at the University of South Florida. Having 4 years of IT experience as an ETL developer worked for Deloitte and Cognizant with a demonstrated history of working in the information technology and services industry.
                For this assignment, Venkatesh worked on database model and also contributed towards image transition animations and layouts on the website.
            </p>
            <hr />
            <hr />
        </div>
        <h4>Data Model</h4>
        <p class="para">
            This is the Data Model for COVID-19 Complaints in Austin Data.
        </p>
        <img class="dataimage" src="DM.PNG" /> <!-- INSERT IMAGE -->
        <div class="about_ref">
            <h5>github</h5>
            <a href="https://github.com/VenkateshMusku/Assignment_LookAndFeel">Github</a> <!-- INSERT LINK -->
            <h5>api endpoint</h5>
            <a href="https://data.austintexas.gov/resource/4p54-9544.json">API</a>
        </div>
    </div>
    <p> </p>
    <p> </p><p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>


    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>

</body>
</html>
